
.login {
  width: 300px;
  margin: 100px auto;
}
.form-control {
  margin-bottom: 10px;
}
.log-btn {
  width: 100%;
}
h1 {
  margin: 40px auto;
}
td {
  vertical-align: middle !important;

}
.fa-edit {
  font-size: 13px;
  position: relative;
  top: -1.5px;
  left: -3px;
}
.table {
  
}
.fa-times {
  font-size: 14px;
    position: relative;
    top: 0px;
    left: -3px;
}
.table .btn {
  padding: 3px 10px;
}
.home .stat{
  padding: 20px;
  font-size: 20px;
  color: #FFF;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.home .stat i {
  position: absolute;
    left: 30px;
    font-size: 51px;
    top: 40px;

}

.home .stat .info {
  float: right;
}
.toggle-info {
  overflow: hidden;
}
.toggle-info i {
  float: right;
  cursor: pointer;
}
.home .stat a {
  color: #FFF;
  text-decoration: none;
}
.home .stat a:hover {
  text-decoration: none;
}

.home .st-memeber {
  background-color: #3498db;
}

.home .st-pending {
  background-color: #d35400;
  
}
.home .st-item {
  background-color: #f39c12;
  
}
.home .st-comment {
  background-color: #00cec9;
  
}
.home .stat span  {
  display: block;
  font-size: 50px;
}
.card {
  margin-top: 20px;
}
.s,
.s:hover {
  color: #FFF;
}
/* .list-user  {
  margin-bottom: 0;
} */
.list-user li {
  overflow: hidden;
}
.fa-check {
  color: #FFF;
} 
.opt {
  margin-bottom: 10px;
}
/* start catigory page */

.cati h3 {
  margin: 0 0 10px;
}
.cati .cat {
  position: relative;
  overflow: hidden;
  
}
.cati .cat:hover .hidden-btn {
  right: 10px;
  top: 3px;
}
.cati .cat:last-of-type ~ hr {
  display: none;
}
.cati .cat .vs {
  color: #FFF;
  background-color: #cb3222;
  padding: 2px 4px;
  border-radius: 5px;
  margin-right: 5px;
}
.cati .cat .comment {
  color: #FFF;
  background-color: #2980b9;
  padding: 2px 4px;
  border-radius: 5px;
  margin-right: 5px;
}
.cati .cat .ads {
  color: #FFF;
  background-color: #34495e;
  padding: 2px 4px;
  border-radius: 5px;
  margin-right: 5px;
}
.cati .cat .hidden-btn {
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: -300px;
  top: 3px;
}
.cat  {
  cursor: pointer;
}
.cat h3 {
  margin: 0;
}
.cat  .dis{
  display: none;
  transition: all 0.3s ease-in-out;

}
.cat .full-view > p {
  margin-top:5px

}
/* End catigory page */
.comment-name {
  display: inline-block;
  margin-right: 40px;
  
}
.comment-c {
  display: inline-block;
}
.btn-group {
  overflow: hidden;
  
}
.stmt .card-body ul {
  padding: 0;
}
.stmt .card-body ul li {
  padding: 6px;
}
.comment-name {
  display: inline-block;
  min-width:80px;

}
.comment-c {
  display: inline-block;
  width: calc(100% - 120px);
  margin-top: 5px;
}
.child {
  margin: 10px;
  font-size: 20px;

}
.list a {
  text-decoration: none;
}
.list a:last-of-type {
  color: #ff7a7a;
}
.my-user img {
  height: 50px;
  width: 50px;
  max-width: 100%;
}
